
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spring Boot Html E-Mail</title>
</head>
<body>
<h1>Xin chào <span th:text="${username}"></span></h1>
<h3>Cảm ơn bạn đã sử dụng sản phẩm của chúng tôi</h3>
<p>Vui lòng click vào link dưới đây để xác thực email</p>
<a th:href="${url}">Click vào đây</a>
</body>
</html>